body {
    background-image: linear-gradient(to right, red, rgb(76, 0, 255), violet);
}

#countdown {
    font-size: 14vw;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    color: #fff;
}

.im {
    height: 100px;
}

img {
    min-width: 50%;
    max-width: 40%;
    height: auto;
}

#firsth {
    margin-top: -50px;
}

@media screen and (max-width: 480px) {
    img {
        min-width: 19%;
        max-width: 25%;
        height: auto;
        margin-bottom: 30px;
    }
}